* {
    margin: 0;
    padding: 0;
}

#fromg {
    display: block;
    margin: auto;
    max-width: 100vw;
    height: 100vh;
    object-fit: contain;
}

.counter {
    position: absolute;
    left: 1vw;
    font-family: 'Comic Sans MS';
    font-size: 20vh;
}

#comboCounter {
    top: -5vh;
}

#cpsCounter {
    top: 12vh;
}